/*****                 ****/
/*****      RESET      ****/
/*****                 ****/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*****                 ****/
/***** GENERAL _STYLE  ****/
/*****                 ****/
.color_green{
    color: green;
}
.color_red{
    color: red;
}

/*****                 ****/
/***** CONTENT _STYLE  ****/
/*****                 ****/

.input-container{
    margin-top: 1rem;
}